/*公共初始化*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
body{ font:12px,arial,\5b8b\4f53;}
em{font-style:normal}
li{list-style:none}
img{border:0;}
select,input{vertical-align:middle;}
button, input, select, textarea{font-size:100%;}
table{border-collapse:collapse; border-spacing:0;}
a{color:#0099ff;text-decoration:none}
a:hover{color:#0082d5;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
html{height: 100%;background: #f5f8fa;}
body{min-height: 100%;position: relative;}

/* 公共样式 */
.text_align_center{text-align: center;}